#quotaBuddy{
    background-color: #F1F1F1;
    border-right: 3px solid #DEDEDE;
}
#quotaBuddy div#qbTable{
	overflow-y: scroll;
	overflow-x: hidden;
}
#quotaBuddy div#qbTable td{
	height: 15px;
}
#quotaBuddy div#qbHead{
	font-weight: bold;
	border-bottom: 3px solid #DEDEDE;
}
#quotaBuddy div#qbHead span{
	float: right;
	padding-left: 10px;

}