#quotaBuddy{
    background-color: #F1F1F1;
    border-right: 3px solid #DEDEDE;
  	transition: all 2s linear;
}
#quotaBuddy div#qbTable{
	overflow-y: scroll;
	overflow-x: hidden;
}
#quotaBuddy div#qbTable td{
	height: 15px;
}
#quotaBuddy div#qbHead{
	font-weight: bold;
	border-bottom: 3px solid #DEDEDE;
	height: 30px;
}
#quotaBuddy div#qbHead span{
	float: right;
	padding-left: 10px;
}
.spQB{
	width: 25%;
	height: 27px;
	padding: 0px;
	vertical-align: middle;
	float: right;
}
.spQBa{
	width:50%;
	height: 100%;
	color: white;
	margin: 0px;
	border: none;
}
.red{background-color: #ff4d4d;}
.green{background-color: #4dff4d;}
#qbSearch{
	width: 75%;
	float: left;
}
#qbSearch input{
	width: 100%;
	border: none;
	border-radius: 0px;
}
.clear{
	clear: both;
}
#toggleQuotabuddy{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: gray;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.qbshow{
	display: block;
}
.qbhide{
	display: none;
}