#quotaBuddy{
    background-color: #F1F1F1;
    border-right: 3px solid #DEDEDE;
  	transition: all 2s linear;
  	box-sizing: border-box;
  	z-index: 100;
}
#quotaBuddy div#qbTable{
	overflow-y: scroll;
	overflow-x: hidden;
}
#quotaBuddy div#qbTable td{
	height: 15px;
}
#quotaBuddy div#qbHead{
	font-weight: bold;
	border-bottom: 3px solid #DEDEDE;
	height: 30px;
}
#quotaBuddy div#qbHead span{
	float: right;
	padding-left: 10px;
}
.spQB{
	width: 25%;
	height: 27px;
	padding: 0px;
	vertical-align: middle;
	float: right;
	overflow: hidden;
}
.spQBa{
	float:left;
	width: 50%;
	height: 100%;
	color: white;
	margin: 0px;
	padding: 0px;
	border: none;
}
.qbred{background-color: #ff4d4d;}
.qbgreen{background-color: #4dff4d;}
#qbSearch{
	width: 75%;
	float: left;
}
#qbSearch input{
	width: 100%;
	border: none;
	border-radius: 0px;
}
.clear{
	clear: both;
}
#toggleQuotabuddy{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: gray;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.qbshow{
	display: block;
}
.qbhide{
	display: none;
}
.quotaTogglersHead{
	font-weight: bold;
	text-decoration: underline;
}
.quotaTogglers{
	padding-left: 10px;
}
.highlightEdit{
	border: 3px solid black !important;
}

#search-light{
	display: block;
	position: absolute;
	top:0;
	left:0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,0.6);
}
#search-light.sl-hide{
	display: none;
}
#sl-container{
	background-color: rgba(255,255,255,1);
	padding: 10px;
	margin: 30vh auto;
	display: block;
	width: 40%;
	box-shadow: 0px 6px 15px 4px rgba(156,156,156,1);
	transition: all 0.5s ease-out; 
}

#sl-container:hover{
	box-shadow: 0px 6px 20px 4px rgba(119,119,119,1);
}
#sl-input-container{
	width: 100%;
}
#sl-input{
	line-height: 1.5em;
	font-size: 25px;
	padding:3px;
	width: 100%;
	border-radius: 0;
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	box-shadow: none;
}
#sl-list-container{
	font-size: 20px;
	padding: 10px 0px;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
}
#sl-list-container div{
	cursor: pointer;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	padding: 3px;
	border-bottom: 1px solid rgba(119,119,119,1);
}
#sl-list-container div:hover{
	background-color: #f0f0f0;
}
#sl-list-container div.sl-hide{
	display: none;
}
#sl-list-container div.selected{
	background-color: #9fc5c6;
}
